<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="new.css">
</head>
<body>
    <h1>Edit Animal</h1>
    <form action="/update/<%=animal.id%>" method="POST">

        <p>Name: <input type="text" name="name" value="<%=animal.name%>"></p>
        <p>Animal Type: <input type="text" name="type" value="<%=animal.type%>"></p>
        <p>Diet: <input type="text" name="diet" value="<%=animal.diet%>"></p>
        <p>Life Span: <input type="number" name="life" value="<%=animal.life%>"></p>
        <p>Image URL: <input type="text" name="image" value="<%=animal.image%>"></p>
        
        <button>Edit</button>
    </form>

</body>
</html>